<input type="text" id="name">
<input type="text" id="age">
<button onclick="clickButton()">Click me!</button>
<p id="answer"></p>

<script>
function clickButton() {
	var n = document.getElementById("name").value;
	var a = document.getElementById("age").value;
	var obj = {};
	obj = {name: n, age: a};
  var s = document.createElement("script");
  s.src = "http://127.0.0.1:4000/?data=" + JSON.stringify(obj) + "/?callback=myFunc";
  document.body.appendChild(s);
}
function myFunc(myObj) {
	document.getElementById("answer").innerHTML = myObj.msg;
}
</script>